html {
  font-size: 12pt;
}

body {
//  background-image: url('images/desert.jpg');
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//  background-repeat: no-repeat;
//  background-position: top;
}

div {
  float: left;
  // border: 1px solid black;
}

div#title {
  padding: 20px;
  font-size: 36pt;
  font-weight: bold;
}

div#navbar {
  width: 150px;
}

div#navbar p {
  border-radius: 5px;
  background-color: LightBlue;
  padding: 5px;
}

div#twitterbar {
  border-radius: 5px;
  background-color: LightBlue;
  padding: 5px;
  width: 250px;
}

div#content {
  float: left;
  width: 600px;
  margin: 10px;
}

pre {
  font-size: 10pt;
}

img {
  display: block;
  float: left;
}

img.sponsor {
  height: 120px;
}

img.hltcoe {
  position: relative;
  top: 40px;
}

a:link { 
  text-decoration: none;
  color: MediumBlue;
}

a:visited { 
  text-decoration: none;
  color: Gray;
}

table {
    border: 1px solid black;
}

table#results td {
    padding: 3px;
    text-align: right;
}

table#results td.system {
    text-align: left;
}

span#download {
    background-color: green;
    font-size: 14pt;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

span#download a:link {
    color: white;
}

span#download a:hover {
    color: lightgrey;
}

a.pdf {
    font-variant: small-caps;
    /* font-weight: bold; */
    font-size: 10pt;
    color: white;
    background: brown;
    padding: 2px;
}

a.bibtex {
    font-variant: small-caps;
    /* font-weight: bold; */
    font-size: 10pt;
    color: white;
    background: orange;
    padding: 2px;
}
