html {
    font-family: George, sans-serif;
  font-size: 12pt;
}

body {
//  background-image: url('images/desert.jpg');
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//  background-repeat: no-repeat;
//  background-position: top;
}

div {
  float: left;

}

h1 {
    font-family: Verdana;
    font-weight: bold;
    font-size: 24pt;
}

#title {
    padding: 5px;
    margin: 5px;
}

div#navbar {
  width: 150px;
  clear: both;
}

.infobox {
  /* border-radius: 5px; */
  background-color: LightBlue;
  padding: 5px;
  margin-bottom: 10px;
  width: 140px;
}

div#twitterbar {
  /* border-radius: 5px; */
  background-color: LightBlue;
  padding: 5px;
  width: 250px;
  margin-top: 5px;
}

div#content {
  float: left;
  width: 600px;
  margin: 5px;
  padding: 5px;
  clear: both;
}

pre {
  font-size: 10pt;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.sponsor {
  height: 120px;
  margin: 5px;
}

img.hltcoe {
  position: relative;
  top: 40px;
}

a:link { 
  text-decoration: none;
  color: MediumBlue;
}

a:visited { 
  text-decoration: none;
  color: Gray;
}

table {
    border: 1px solid black;
}

table#results td {
    padding: 3px;
    text-align: right;
}

table#results td.system {
    text-align: left;
}

#download {
    background-color: green;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    color: white;
    /* border-radius: 5px; */
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
}

#download a:link {
    color: white;
}

#download a:hover {
    color: lightgrey;
}

#download a:visited {
    color: white;
}

a.pdf {
    font-variant: small-caps;
    /* font-weight: bold; */
    font-size: 10pt;
    color: white;
    background: brown;
    padding: 2px;
}

a.bibtex {
    font-variant: small-caps;
    /* font-weight: bold; */
    font-size: 10pt;
    color: white;
    background: orange;
    padding: 2px;
}

div#content p {
    padding: 0px;
    padding-bottom: 10px; 
    margin: 0px;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    margin: 1px;
    padding: 1px;
}

.infobox ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 3px;
    padding: 1px;
    font-size: 90%;
}

.infobox a:hover {
    color: black;
}


.footer {
    font-style: italic;
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
    clear: both;
  }

.warning {
    background-color: rgba(255,192,203,.5);
    border: 2px dashed red;
    margin: 10px;
    margin-left: 30px;
    padding: 3px;
}
