#download {
    background-color: green;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 4px;
}

#download a:link {
    color: white;
}

#download a:hover {
    color: lightgrey;
}

#download a:visited {
    color: white;
}

a.pdf {
    font-variant: small-caps;
    /* font-weight: bold; */
    font-size: 10pt;
    color: white;
    background: brown;
    padding: 2px;
}

a.bibtex {
    font-variant: small-caps;
    /* font-weight: bold; */
    font-size: 10pt;
    color: white;
    background: orange;
    padding: 2px;
}

img.sponsor {
    width: 120px;
    margin: 5px;
}
